name: Deploy Projects

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload projects to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          overwrite: true
          rm: true

          # copy BOTH react projects
          source: |
            style_co/*
            velora-clothes/*

          target: ${{ secrets.VPS_PROJECTS_DIR }}/stores
